h1 {
    font-size: 3rem;
    margin: 32px;
}

.center-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    margin-bottom: 32px;
}


.sprites-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 36px;
    margin-bottom: 36px;
}

.hero-name {
    font-size: 3rem;
}

.accent-underline {
    text-decoration: underline;
    text-decoration-color: var(--accent);
    text-underline-offset: 20%;
}

.circle-no-fill {
    border-radius: 50%;
    border: 1px solid white;
    overflow: hidden;
    background: radial-gradient(circle at center, var(--accent), var(--bg-body))
}