<section>
    <div class="center-wrapper">

        <h1>
            Nice to meet you! I'm
            <span class=" hero-name accent-underline">Jordan Schmelzer</span>.
        </h1>

        <p class="hero-statement">
            I engineer smart solutions for the factory floor.
            From IoT devices to web platforms, I can bridge the gap between physical
            systems and your digital business.
        </p>

        <div class="sprites-container">
            <div class="sprite">
                <app-animated-png-holder [overlayImages]="machiOverlayImages" [overlayImageSize]="getSizeCat()">
                </app-animated-png-holder>
            </div>

            <div class=" circle-no-fill sprite">
                <app-animated-png-holder [overlayImages]="jordanOverlayImages" [overlayImageSize]="getSizeHero()">
                </app-animated-png-holder>
            </div>

            <div class="sprite">
                <app-animated-png-holder [overlayImages]="peachOverlayImages" [overlayImageSize]="getSizeCat()">
                </app-animated-png-holder>
            </div>
        </div>

        <a>
            <span class="accent-underline" style="font-weight: bold;">
                Contact Me!
            </span>
        </a>

    </div>
</section>