<section>
    <div class="wrapper">
        <h1 class="hero-statement">
            Nice to meet you! I'm
            <span class=" hero-name accent-underline">Jordan Schmelzer</span>.
        </h1>

        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus corrupti dolore porro similique
            numquam
            cum ut dignissimos deserunt, quaerat tempore tempora qui voluptatum fuga minima ipsa odio illum aut
            accusamus?
        </p>

        <div class="sprites-container">
            <div class="sprite">
                <app-animated-png-holder [overlayImages]="machiOverlayImages" [overlayImageSize]="getSizeCat()">
                </app-animated-png-holder>
            </div>

            <div class=" circle-no-fill sprite">
                <app-animated-png-holder [overlayImages]="jordanOverlayImages" [overlayImageSize]="getSizeHero()">
                </app-animated-png-holder>
            </div>

            <div class=" sprite">
                <app-animated-png-holder [overlayImages]="peachOverlayImages" [overlayImageSize]="getSizeCat()">
                </app-animated-png-holder>
            </div>
        </div>

        <span class=" accent-underline" style="font-weight: bold;">
            Contact Me!
        </span>
    </div>
</section>