<header class="header">

    <h1>Jordan Schmelzer</h1>

    <nav class="header-nav">
        <a target="_blank" href="https://github.com/JordanSchmelzer">
            <img src="assets/links/github/github-mark-white.svg" alt>
            <div class="hidden-label">Github</div>
        </a>

        <a target="_blank" href="https://www.linkedin.com/in/jordan-schmelzer-a46a91aa/">
            <div><img src="assets/links/linkedin/InBug-White.png" alt></div>
            <div class="hidden-label">LinkedIn</div>
        </a>

    </nav>

</header>