<section>
    <h2>Projects</h2>

    <div class="container">

        <div class="project-card">
            <img src="/assets/projects/this-website.png" alt="html typescript and javascript code">
            <div class="colored-card"></div>
            <div class="text-container">
                <p>Project Link!</p>
            </div>
        </div>

        <div class="project-card">
            <img src="/assets/projects/this-website.png" alt="html typescript and javascript code">
            <div class="colored-card"></div>
            <div class="text-container">
                <p>Project Link!</p>
            </div>
        </div>

        <div class="project-card">
            <img src="/assets/projects/this-website.png" alt="html typescript and javascript code">
            <div class="colored-card"></div>
            <div class="text-container">
                <p>Project Link!</p>
            </div>
        </div>

        <div class="project-card">
            <img src="/assets/projects/this-website.png" alt="html typescript and javascript code">
            <div class="colored-card"></div>
            <div class="text-container">
                <p>Project Link!</p>
            </div>
        </div>

        <div class="project-card">
            <img src="/assets/projects/this-website.png" alt="html typescript and javascript code">
            <div class="colored-card"></div>
            <div class="text-container">
                <p>Project Link!</p>
            </div>
        </div>

        <div class="project-card">
            <img src="/assets/projects/this-website.png" alt="html typescript and javascript code">
            <div class="colored-card"></div>
            <div class="text-container">
                <p>Project Link!</p>
            </div>
        </div>

        <div class="project-card">
            <img src="/assets/projects/this-website.png" alt="html typescript and javascript code">
            <div class="colored-card"></div>
            <div class="text-container">
                <p>Project Link!</p>
            </div>
        </div>
        <div class="project-card">
            <img src="/assets/projects/this-website.png" alt="html typescript and javascript code">
            <div class="colored-card"></div>
            <div class="text-container">
                <p>Project Link!</p>
            </div>
        </div>


    </div>
</section>