.accent-section {
    padding: 1rem;
    margin: 1rem;
    border-radius: 10px;
    background-color: var(--bg-body2);
}

.header-wrapper {
    position: relative;
}

.header-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.experience-text {
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1rem;
    padding-top: 10px;
    padding-bottom: 10px;
}

h2 {
    margin: 0;
}

p,
span,
h3,
h4 {
    margin: 0;
    padding: 10px;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;

}

/* Job Card Stuff */

.job-card {
    background-color: var(--bg-body);
    border-radius: 10px;
    padding: 0;
    margin: 0;
    overflow-y: auto;
    flex: 1 1 45%;
    min-width: 300px;
    max-width: 50%;
    box-sizing: border-box;

}

.job-meta {
    display: flex;
    flex-wrap: wrap;
    gap: 0rem;
    align-items: center;

}

.description {
    overflow: hidden;
    transition:
        max-height 0.5s ease,
        filter 0.3s ease 0.1s;
    position: relative;
}

.description.collapsed {
    filter: blur(2px);
    max-height: 6rem;
}

.description.expanded {
    filter: blur(0px);
    max-height: 1000px;
}

.job-duration {
    font-size: .75rem;
}

/* -- */

/* Show more-less divider */
.divider-container {
    margin-top: 1.2rem;
    padding: 0;
    position: relative;
    width: 100%;
    height: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divider-line {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--bg-body2);
    z-index: 1;
}

.divider-button {
    position: relative;
    z-index: 2;
    height: 25px;
    border-radius: 10px;
    background-color: var(--bg-body2);
    color: white;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
}

.end-text-readless-button {
    position: relative;
    height: 25px;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 1rem;
}

/* -- */

/* Decorations */
.accent-underline {
    text-decoration: underline;
    text-underline-offset: .3rem;
    text-decoration-color: var(--accent);
}

/* */

.glass-card {
    position: relative;
    justify-content: center;
    align-items: centers;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow:
        0 1px 1px rgba(0, 0, 0, 0.1),
        inset 0 1px 0 rgba(255, 255, 255, 0.5),
        inset 0 -1px 0 rgba(255, 255, 255, 0.1),
        inset 0 0 1px 1px rgba(255, 255, 255, 0.7);
    overflow: hidden;
}

.glass-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: linear-gradient(90deg,
            transparent,
            rgba(255, 255, 255, 0.8),
            transparent);
}

.glass-card::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
    background: linear-gradient(180deg,
            rgba(255, 255, 255, 0.8),
            transparent,
            rgba(255, 255, 255, 0.3));
}