<section>
    <div class="hero">
        <div class="stack">
            <div class="pills-wrapper box1">
                <div class="pill">C#</div>
                <div class="pill">Python</div>
                <div class="pill">SQL</div>
                <div class="pill">.NET</div>
                <div class="pill">Angular</div>
            </div>

            <h1 class="box2">
                <p>Hi, nice to meet you. I'm <span class="accent-underline">Jordan Schmelzer</span>.</p>
            </h1>
            <div class="box3">
                <div class="title">Manufacturing & System Engineer</div>
                <p class="blurb">
                    I specialize in creating smart solutions for the factory floor. From IoT devices to web platforms, I
                    bridge
                    the gap between physical systems and digital business solutions. My passions are coding, learning
                    new
                    things, and my cats.
                </p>
            </div>
            <div class="buttons-container box4">
                <button class="contact">Get in touch</button>
                <button>Learn more</button>
            </div>
        </div>
    </div>

    <div class="sprites-container">
        <!--
            <div class="sprite">
                <app-animated-png-holder [overlayImages]="machiOverlayImages" [overlayImageSize]="getSizeCat()">
                </app-animated-png-holder>
            </div>
            -->

        <div class=" circle-no-fill sprite">
            <app-animated-png-holder [overlayImages]="jordanOverlayImages" [overlayImageSize]="getSizeHero()">
            </app-animated-png-holder>
        </div>

        <!--
            <div class="sprite">
                <app-animated-png-holder [overlayImages]="peachOverlayImages" [overlayImageSize]="getSizeCat()">
                </app-animated-png-holder>
            </div>
            -->
    </div>

</section>