<section>
    <div class="wrapper">

        <div class="title">
            <h2>Recent projects</h2>
            <p>I have over seven years of experience delivering excellence in manufacturing and systems.</p>
        </div>

        <div class="grid-center">
            <div class="container">

                <div class="project-card">
                    Project name
                </div>

                <div class="project-card">
                    Project name
                </div>

                <div class="project-card">
                    Project name
                </div>

                <div class="project-card">
                    Project name
                </div>

                <div class="project-card">
                    Project name
                </div>

                <div class="project-card see-more">
                    See all of my projects
                </div>
            </div>
        </div>
    </div>
</section>