section {
    font-family: "Helvetica";
    padding: 64px 200px 64px 200px;
    background-color: #1E1E22;
}

h2 {
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    /* 125% */
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-color: var(--Primary-color-palette-Primary, #03DAC5);
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

h2,
p {
    margin: 0px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    align-self: stretch;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.title h2 {
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    /* 125% */
}

.title p {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    /* 150% */
}

.grid-center {}

.container {
    display: flex;
    row-gap: 40px;
    flex-wrap: wrap;
    justify-content: space-between;

}

.project-card {
    display: flex;
    width: 450px;
    height: 300px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;

    /* Card Border */
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background-color: rgba(255, 255, 255, 0.10);

    /* Card Text */
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
}

.project-card::after {
    content: "";
    position: absolute;
    width: 400px;
    height: 100px;
    z-index: 1;
    background: #03DAC5;
    background: linear-gradient(180deg, rgba(3, 218, 197, 1) 0%, #BB86FC 50%);
    overflow: hidden;
    transform: rotate(-10deg);
    transform: translateY(20px);
}

.project-card img {
    position: absolute;
    z-index: 0;
    height: 300px;
    width: 450px;
    overflow: hidden;
    border-radius: inherit;
}

.project-card span {
    position: absolute;
    z-index: 2;
}