<section>
    <div class="wrapper">

        <div class="title">
            <h2>Recent projects</h2>
            <p>I have over seven years of experience delivering excellence in manufacturing and systems.</p>
        </div>

        <div class="grid-center">
            <div class="container">
                <app-project-flip-card projectTitle="Angular Portfolio"
                    projectThumbnail="/assets/projects/first-website.png"
                    projectThumbnailAlt="Thumbnail of Jordan's Portfolio" projectDescription="asdf"
                    projectLink="https://github.com/JordanSchmelzer/jds.website.angular"></app-project-flip-card>

                <app-project-flip-card projectTitle="asdf" projectThumbnail="asdf" projectThumbnailAlt="asdf"
                    projectDescription="asdf" projectLink="asd"></app-project-flip-card>

                <app-project-flip-card projectTitle="asdf" projectThumbnail="asdf" projectThumbnailAlt="asdf"
                    projectDescription="asdf" projectLink="asd"></app-project-flip-card>

                <app-project-flip-card projectTitle="asdf" projectThumbnail="asdf" projectThumbnailAlt="asdf"
                    projectDescription="asdf" projectLink="asd"></app-project-flip-card>

                <app-project-flip-card projectTitle="asdf" projectThumbnail="asdf" projectThumbnailAlt="asdf"
                    projectDescription="asdf" projectLink="asd"></app-project-flip-card>

                <app-project-flip-card projectTitle="asdf" projectThumbnail="asdf" projectThumbnailAlt="asdf"
                    projectDescription="asdf" projectLink="asd"></app-project-flip-card>


                <div class="project-card">
                    <img [src]="" alt="">
                    <span>Pygame Pac-Man</span>
                </div>

                <div class="project-card">
                    <img [src]="" alt="">
                    <span>Discord Music Bot</span>
                </div>

                <div class="project-card">
                    <img [src]="" alt="">
                    <span>AI Chess</span>
                </div>

                <div class="project-card">
                    <img [src]="" alt="">
                    <span>C# Console Chess</span>
                </div>

                <div class="project-card see-more">
                    <img [src]="" alt="">
                    See all of my projects
                </div>
            </div>
        </div>
    </div>
</section>