<section id="page-top">
    <header class="header">
        <a href=""><span class="hero-name">Jordan Schmelzer</span></a>
        <nav class="header-nav">

            <a class="link" routerLink="all-projects">
                <span>All projects</span>
            </a>
            <a class="link" routerLink="learn-more">
                <span>Experience</span>
            </a>
            <a class="link" target="_blank"
                href="https://docs.google.com/document/d/e/2PACX-1vS8WrgZD9QD5IpBLbXLZzitW5SLpUI2kwMTRfHEM2AJL4aQ2GWjwkRkRPXEMEePpX48Vqv6E6IqYGrh/pub">
                <span>My résumé</span>
            </a>
            <a class="link" href="#contact-me">
                <span>Contact me</span>
            </a>

        </nav>
    </header>
</section>